
.min-h-screen {
    min-height: 100vh;
}


.-z-10 {
    z-index: -10;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.absolute {
    position: absolute;
}


*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor
}


.pointer-events-none {
    pointer-events: none
}


.fixed {
    position: fixed
}


.relative {
    position: relative
}


.inset-0 {
    inset: 0
}


.-top-16 {
    top: -4rem
}


.right-0 {
    right: 0
}



.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}


.z-navbar {
    z-index: 400
}


.z-toast {
    z-index: 700
}


.m-0 {
    margin: 0
}

.mt-\[60px\] {
    margin-top: 60px
}

.block {
    display: block
}


.flex {
    display: flex
}

.hidden {
    display: none
}

.size-32 {
    width: 8rem;
    height: 8rem
}


.size-\[34\.5rem\] {
    width: 34.5rem;
    height: 34.5rem
}

.size-full {
    width: 100%;
    height: 100%
}


.h-10 {
    height: 2.5rem
}


.h-52 {
    height: 13rem
}

.h-56 {
    height: 14rem
}

.h-\[27\.5rem\] {
    height: 27.5rem
}

.h-\[60px\] {
    height: 60px
}


.h-full {
    height: 100%
}

.w-full {
    width: 100%
}


.w-screen {
    width: 100vw
}


.max-w-8xl {
    max-width: 1440px
}


.max-w-none {
    max-width: none
}


.shrink-0 {
    flex-shrink: 0
}

.flex-grow,
.grow {
    flex-grow: 1
}


.touch-manipulation {
    touch-action: manipulation
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}


.flex-col {
    flex-direction: column
}

.place-content-center {
    place-content: center
}

.place-items-center {
    place-items: center
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}


.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-2 {
    gap: .5rem
}

.gap-5 {
    gap: 1.25rem
}

.gap-6 {
    gap: 1.5rem
}

.overflow-hidden {
    overflow: hidden
}

.overflow-x-auto {
    overflow-x: auto
}


.overflow-x-hidden {
    overflow-x: hidden
}

.rounded-full {
    border-radius: 9999px
}

.rounded-small {
    border-radius: 4px
}

.border {
    border-width: 1px
}

.border-solid {
    border-style: solid
}

.border-transparent {
    border-color: transparent
}

.\!bg-canvas-100 {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(31 12 25/var(--tw-bg-opacity)) !important
}

.bg-yellow {
    --tw-bg-opacity: 1;
    background-color: rgb(255 254 62/var(--tw-bg-opacity))
}

.bg-contain {
    background-size: contain
}


.bg-center {
    background-position: center
}

.bg-no-repeat {
    background-repeat: no-repeat
}


.object-cover {
    object-fit: cover
}


.p-2 {
    padding: .5rem
}


.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem
}


.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}


.pb-24 {
    padding-bottom: 6rem
}


.pb-4 {
    padding-bottom: 1rem
}


.pt-16 {
    padding-top: 4rem
}


.font-bold {
    font-weight: 700
}


.capitalize {
    text-transform: capitalize
}


.text-\[\#121212\] {
    --tw-text-opacity: 1;
    color: rgb(18 18 18/var(--tw-text-opacity))
}


.text-inherit {
    color: inherit
}


.text-neutral-10 {
    --tw-text-opacity: 1;
    color: rgb(233 231 232/var(--tw-text-opacity))
}

.text-neutral-20 {
    --tw-text-opacity: 1;
    color: rgb(210 206 209/var(--tw-text-opacity))
}


.text-yellow {
    --tw-text-opacity: 1;
    color: rgb(255 254 62/var(--tw-text-opacity))
}


.no-underline {
    -webkit-text-decoration-line: none;
    text-decoration-line: none
}


.opacity-30 {
    opacity: .3
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.duration-100 {
    transition-duration: .1s;
}

.duration-300 {
    transition-duration: .3s;
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

@font-face {
    font-family: "RadionA";
    src: url(../../../../../fonts/RadionA.woff2);

}

@font-face {
    font-family: "TT Norms Pro";
    src: url(../../../../../fonts/TT-Norms-Pro-Medium.woff2);

}


.font-style-desktop-h2 {
    font-family: RadionA, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0;
    font-size: 3rem;
    line-height: .917
}


.font-style-b2-body-copy {
    font-family: TT Norms Pro, sans-serif;
    letter-spacing: 0;
    font-size: .875rem;
    font-weight: 450;
    line-height: 1.25rem
}

.font-style-b3-body-copy {
    font-family: TT Norms Pro, sans-serif;
    letter-spacing: 0;
    font-size: .75rem;
    font-weight: 450;
    line-height: .875rem
}


.font-style-label-3 {
    font-family: TT Norms Pro, sans-serif;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: .06rem
}


.font-style-subheading-4 {
    font-family: TT Norms Pro, sans-serif;
    letter-spacing: 0;
    font-size: .875rem;
    line-height: .875rem;
    font-weight: 500
}



@media(min-width: 376px) {
    .sm\:mx-4 {
        margin-left: 1rem;
        margin-right: 1rem
    }

    .sm\:items-start {
        align-items: flex-start
    }

    .sm\:items-end {
        align-items: flex-end
    }


    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .sm\:py-16 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

}

@media(min-width: 768px) {

    .md\:mx-\[30px\] {
        margin-left: 30px;
        margin-right: 30px
    }


    .md\:block {
        display: block
    }

    .md\:flex {
        display: flex
    }

    .md\:hidden {
        display: none
    }

    .md\:size-48 {
        width: 12rem;
        height: 12rem
    }


    .md\:h-72 {
        height: 18rem
    }


    .md\:h-80 {
        height: 20rem
    }


    .md\:w-96 {
        width: 24rem
    }


    .md\:gap-6 {
        gap: 1.5rem
    }


    .md\:font-style-desktop-h1 {
        font-family: RadionA, sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0;
        letter-spacing: 0;
        font-size: 4.5rem;
        line-height: .917
    }


    .md\:font-style-subheading-2 {
        font-family: TT Norms Pro, sans-serif;
        letter-spacing: 0;
        font-size: 1.625rem;
        line-height: 1.625rem;
        font-weight: 500
    }

}

@media(min-width: 1024px) {

    .sd\:mt-\[60px\] {
        margin-top: 60px
    }


}

@media(min-width: 1280px) {

    .lg\:mx-11 {
        margin-left: 2.75rem;
        margin-right: 2.75rem
    }


    .lg\:w-\[21\.5rem\] {
        width: 21.5rem
    }

}

.main-container {
    width: 100%;
    max-width: 1440px; 
    overflow-x: auto;
    margin: auto;
    padding: 0 30px; 
}

.custom-div {
    width: 100%;
    max-width: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    border-radius: 20px;
    padding: 20px; 
}

.title-container {
    display: flex;
    align-self: flex-start;
}

.value-container {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-grow: 1; 
}



@media (max-width: 768px) {
    .main-container {
        padding: 0 15px;
    }
}


.bg-canvas-95 {
    --tw-bg-opacity: 1;
    background-color: rgb(42 24 37/var(--tw-bg-opacity))
}

.pt-1{
    padding-top: -50px;
}

.font-tam1 {
    font-family: RadionA, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0;
    font-size: 1.5rem;
    line-height: .917
}
.font-tam2 {
    font-family: RadionA, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0;
    font-size: 3rem;
    line-height: .917
}

.text-neutral-10 {
    --tw-text-opacity: 1;
    color: rgb(233 231 232/var(--tw-text-opacity))
}