.flex {
    display: flex
}

.justify-center {
    justify-content: center
    
}

.box {
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.player-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 16px;
}

.divis{
    margin-right: 1.5rem;
}

/* Estilo para a foto do logo da equipe */
.team-foto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    transform: translateX(-45%);
    margin-right: -3rem;
    z-index: -1;
    opacity: 0.5;
}

/* Estilos para o nome do jogador e da equipe */
.text{
    font-family: RadionA, sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: .917;
    color: white;
    margin: 0;
}

.textvalue{
    font-family: RadionA, sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: .917;
    color: yellow;
    margin: 0;
}

.flex-grow,
.grow {
    flex-grow: 1
}
.w-full {
    width: 100%
}
.max-w-8xl {
    max-width: 1440px
}

.overflow-x-auto {
    overflow-x: auto
}

@media(min-width: 376px) {
    .sm\:mx-4 {
        margin-left: 1rem;
        margin-right: 1rem
    }
}

@media(min-width: 768px) {

    .md\:mx-\[30px\] {
        margin-left: 30px;
        margin-right: 30px
    }
}
@media(min-width: 1280px) {

    .lg\:mx-11 {
        margin-left: 2.75rem;
        margin-right: 2.75rem
    }
}

.mt-\[75px\] {
    margin-top: 75px
}

@media(min-width: 1024px) {

    .sd\:mt-\[60px\] {
        margin-top: 75px
    }


}