.p-2 {
    padding: 0.5rem;
}

.items-end {
    align-items: flex-end;
}

.flex {
    display: flex;
}

.z-toast {
    z-index: 700;
}

.inset-0 {
    inset: 0;
}

.fixed {
    position: fixed;
}

.pointer-events-none {
    pointer-events: none;
}

.w-full {
    width: 100%;
}

.background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-0 {
    top: 0;
}

.fixed {
    position: fixed
}

.z-navbar {
    z-index: 400
}

.flex {
    display: flex
}

.h-\[60px\] {
    height: 60px
}

.h-full {
    height: 100%
}

.w-screen {
    width: 100vw
}

.flex-grow,
.grow {
    flex-grow: 1
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.gap-6 {
    gap: 1.5rem
}

.\!bg-canvas-100 {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(31 12 25/var(--tw-bg-opacity)) !important
}

.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem
}

.text-inherit {
    color: inherit
}

.font-style-label-3 {
    font-family: TT Norms Pro, sans-serif;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: .06rem
}

.header-menu {
    display: flex;
    height: 100%;
    max-width: 1480px;
    margin: 0px auto;
    padding: 0px 1.5rem;
    align-items: center;
    justify-content: space-between;
    z-index: 400;
    position: relative;
}

.gittext{
    margin: 0.75rem;
    background-color: rgb(255, 255, 0);
    color: black;
    border-radius: 0.5rem;
    font-family: "TT Norms Pro";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.16667;
    text-transform: uppercase;
    letter-spacing: 0.22em;

}

.gittext{
    
}

.logo {
    width: 6rem;
    height: 100%;
    background: url(../../../../public/logocs2.png) center center / contain no-repeat;
}

.menulink {
    font-family: "TT Norms Pro";
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.16667;
    text-transform: uppercase;
    letter-spacing: 0.22em;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-top: 2px solid transparent;
    color: rgb(233, 231, 232);
    z-index: 2;
    border-bottom: 2px solid rgb(233, 231, 232);
    
}

.namepage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

a {
    color: inherit;
    text-decoration: inherit
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

button,
[role=button] {
    cursor: pointer
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle
}

*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor
}

.pointer-events-none {
    pointer-events: none
}

.inset-0 {
    inset: 0
}

.z-toast {
    z-index: 700
}

.w-full {
    width: 100%
}

.flex-col {
    flex-direction: column
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.p-2 {
    padding: .5rem
}

@font-face {
    font-family: "RadionA";
    src: url(../../../../fonts/RadionA.woff2);
}

@font-face {
    font-family: "TT Norms Pro";
    src: url(../../../../fonts/TT-Norms-Pro-Medium.woff2);
}

@media(min-width: 376px) {
    .sm\:mx-4 {
        margin-left: 1rem;
        margin-right: 1rem
    }

    .sm\:items-start {
        align-items: flex-start
    }

    .sm\:items-end {
        align-items: flex-end
    }

    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .sm\:py-16 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
}

@media(min-width: 768px) {

    .md\:mx-\[30px\] {
        margin-left: 30px;
        margin-right: 30px
    }

    .md\:block {
        display: block
    }

    .md\:flex {
        display: flex
    }

    .md\:hidden {
        display: none
    }

    .md\:size-48 {
        width: 12rem;
        height: 12rem
    }

    .md\:h-72 {
        height: 18rem
    }

    .md\:h-80 {
        height: 20rem
    }

    .md\:w-96 {
        width: 24rem
    }

    .md\:gap-6 {
        gap: 1.5rem
    }

    .md\:font-style-desktop-h1 {
        font-family: RadionA, sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0;
        letter-spacing: 0;
        font-size: 4.5rem;
        line-height: .917
    }

    .md\:font-style-subheading-2 {
        font-family: TT Norms Pro, sans-serif;
        letter-spacing: 0;
        font-size: 1.625rem;
        line-height: 1.625rem;
        font-weight: 500
    }
}

@media(min-width: 1024px) {

    .sd\:mt-\[60px\] {
        margin-top: 60px
    }
}

@media(min-width: 1280px) {

    .lg\:mx-11 {
        margin-left: 2.75rem;
        margin-right: 2.75rem
    }

    .lg\:w-\[21\.5rem\] {
        width: 21.5rem
    }
}

@media (max-width: 768px) {
    .main-container {
        padding: 0 15px;
    }
}